#contact{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    flex-direction: column;

    background-color: var(--background-colour);

    overflow-y: hidden;
    
}

#contact_container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;

    overflow-y: auto;
    overflow-x: hidden;
}

#contact_padding{
    width: 90%;
    height: 100%;

    margin-left: 20px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact_inputs{
    border-width: 1px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 4px;

    margin-top: 5px;
    margin-left: 30px;
    padding-left: 20px;

    color: var(--text-colour-alt);
    background-color: var(--t-colour);
}

.contact_inputs:focus{
    background-color: var(--t-colour); /*Change Later*/
    outline: none;
}

#email{
    height: 40px;
}

#message{
    height: 200px;
    padding-top: 20px;
    resize: none;
}

#send_email{
    width: 150px;
    padding: 10px;

    font-size: 20px;

    background-color: var(--t-colour);
}

#send_email:hover{
    background-color: var(--t-colour-hover);
}

#other_contact{
    height: 100%;
    width: 100%;

    margin-left: 20px;
    margin-right: 20px;
    
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_info{
    margin-left: 20px;
    padding-bottom: 2vw;
    padding-left: 20px;
    
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
}

@media only screen and (max-width: 600px)  {
    #contact_container{
        flex-direction: column;
    }

    #contact_padding{
        width: calc(100% - 10px);
        height: 100%;

        justify-content: start;

        margin-left: 0px;
    }

    .contact_inputs{
        width: calc(100% - 30px);
        margin-left: 5px;
    }

    #message{
        height: 400px;
    }
    
    #other_contact{
        height: auto;
    }
}

@media only screen and (min-width: 601px)  {
    #email{
        width: 40%;
    }

    #message{
        width: calc(100% - 100px);
    }
}